include common/_mixins
include common/_body_head
	.wraper
		.container
			.main_content			
				.header__album
					header.header
						.main__container
							.header__content
								.header__user
									+user('Антон Черепов','us.jpg')
								.album__about
									.album__title #{name}
									.album__desc #{info}
								.header__btn__album
									a.header__btn.header__btn_l(href='/main') На главную
										+icon('home','svg-home-dims')
									a.header__btn.header__btn_l(href='#') Редактировать
										+icon('edit','svg-edit-dims')

						.stat
							.main__container
								ul.stat__list
									li.stat__item
										.stat__photo Фотографий
										.stat__photo__count 16
									li.stat__item
										.stat__like Лайков
										.stat__like__count 12
									li.stat__item
										.stat__photo Комментария
										.stat__photo__count 4

								//.stat__album__title
								//	+user('Антон Черепов','us.jpg')
								//	.album__title Лесные прогулки
								//	.stat__header__btn
								//	a.header__btn.header__btn_l(href='/main') На главную
								//				+icon('home','svg-home-dims')

				section.albums__photos
						.main__container
							.albums__photos__title
								a.add__albums(href='#') Добавить
									+icon('add','svg-add-dims')
							ul.albums__photos__list
								if photos
									each photo in photos
										li.albums__photos__item
											.albums__photos__block
												.albums__photos__wrap
														img.albums__photos__img(src='./assets/img/photos/ph9.jpg')
														+comments_likes(9,15)
														a.news__mask(href='#') посмотреть фото
															+icon('loupe','svg-loupe-dims')
												.albums__photos__name__wrap
													a.albums__edit(href='#') редактировать
														+icon('edit','svg-edit-dims')
													.albums__photos__name #{photo.name}
								else
									p Нет фотографий

			.footer__album
				include common/_footer

		include common/_slider
		include common/_edit_header
		include common/_add_photos
		include common/_edit_photo
	include common/_scripts