include common/_mixins
include common/_body_head
		.wraper.wraper_login
					.main_content
						.flip
							.block.block_active
								.hello
									h1.hello_title Добро пожаловать
									p.hello_text Перед вами сервис, который поможет вам организовать свои фотографии в альбомы и поделиться ими со всем миром!
								
								form.login#login_form
									.login__input_wrap
										.login__input
											input#emailLog(name='email' type='email' placeholder='Электронная почта')
											+icon('envelope','svg-envelope-dims')
											
										.login__input
											input#passLog(name='pass' type='password' placeholder='Пароль')
											+icon('password','svg-password-dims')

									a.login__link#forgot(href='#' ) Забыли пароль?

									a#login_btn.login__button(href='#') Войти

									.login__text Нет аккаунта?
										a.login__link#registr(href='#') Зарегистрироваться
									
									//форма для регистрации
							.block(data-id='#registr')
								.hello
									h2.hello_title Регистрация	

								form.login#reg_form
									.login__input_wrap
										.login__input
											input#user(name='user_name' type='text' placeholder='Имя')  
											+icon('name','svg-name-dims')

										.login__input
											input#emailLogin(name='email' type='email' placeholder='Электронная почта')
											+icon('envelope','svg-envelope-dims')

										.login__input
											input#pass(name='pass' type='password' placeholder='Пароль')
											+icon('password','svg-password-dims')

									.login__text Ваши данные остаются строго конфеденциальны		
									
									a#create_account.login__button(href='#') Создать аккаунт

									.login__text Уже зарегистрированы?
										a.login__link#enter(href='#') Войти

									// форма для восстановления пароля
							.block(data-id='#forgot')
								.hello
									h2.hello_title Восстановление пароля

								form.login#restore_pass
									.login__title Забыли пароль?
									.login__text Ничего страшного, введите свой e-mail, и мы вышлем вам инструкции по восстановлению пароля
									.login__input_wrap
										.login__input.login__input_f
											input#email(name='email' type='email' placeholder='Электронная почта')
											+icon('envelope','svg-envelope-dims')

									a#restore_btn.login__button(href='#') Восстановить пароль

									.login__text Вспомнили пароль?
										a.login__link#enter_r(href='#') Войти

					footer.footer_auth 
						.footer_title.copyright 2016 | Создано командой профессионалов на продвинутом курсе по веб-разработке от LoftSchool

	include common/preloader
include common/_scripts
