include common/_mixins
include common/_body_head
	.wraper
		.container
			.main_content
					header.header_search
						.main__container
							.header__title
								h1.section_title_s Исследуй мир
								a.header__btn.header__btn_l(href='/main') На главную
												+icon('home','svg-home-dims')
						.search.search_s
							.main__container
								+user('Антон Черепов','us.jpg')
								.search__form_wrap
									form.search__form
										input.search__input(name='search' type='text' placeholder='Исследовать мир')
										button.search__btn(name='search_btn' type='submit')
											+icon('search','svg-search-dims')
								
									a.search_new(href='#') Показать новые

					section.search__result
						.main__container
							.result
								h2.result__title По запросу "Природа" найдено 0 результатов
								.news
									ul.news__list
										if photos
											each photo in photos
												li.news__item
													.news__block
														img.news__img(src='./assets/img/photos/ph1.jpg')
														a.news__mask(href='#') посмотреть фото
																+icon('loupe','svg-loupe-dims')
														.news__desc
															.news__author
																img.news__author__img(src='./assets/img/users/us1.jpg')
																a.news__author__mask(href='./user.html') о пользователе
																	+icon('more','svg-more-dims')

															.other
																.news__img__name #{photo.name}
																+comments_likes(9,25)
														.news__album
															a.news__album__name(href='#') Прогулки по воде
															+icon('album','svg-album-dims')
										else
											p Найдено 0 фотографий
											


								h2.result__title По запросу "Природа" найдено 0 альбомов
								.albums
										ul.albums__list
											if albums
												each album in albums
													li.albums__item
															.albums__block
																.albums__img__wrap
																	img.albums__img(src='../tmp/my-uploads/photos/#{album.coverID}')
																.albums__name
																		.albums__name__title #{album.name}
																		a.albums__edit(href='#') редактировать альбом
																			+icon('edit','svg-edit-dims')
																a.albums__desc(href='./albums/')
																		.albums__about #{album.description}
																		.albums__amount_photo  фотографий
											else
												p Найдено 0 альбомов


			
			include common/_footer
include common/_scripts

