include common/_mixins
include common/_body_head
	.wraper
		.main_content
			.container
				header.header_search
					.main__container
						.header__title
							h1.section_title_s Исследуй мир
							a.header__btn.header__btn_l(href='./main.html') На главную
											+icon('home','svg-home-dims')
					.search.search_s
						.main__container
							+user('Антон Черепов','us.jpg')
							.search__form_wrap
								form.search__form
									input.search__input(name='search' type='text' placeholder='Исследовать мир')
									button.search__btn(name='search_btn' type='submit')
										+icon('search','svg-search-dims')
							
								a.search_new(href='#') Показать новые

				section.search__result
					.main__container
						h2.result__title По запросу "Природа" найдено 6 результатов
						.result
							.news
							ul.news__list
									li.news__item
										.news__block
											img.news__img(src='./assets/img/photos/ph1.jpg')
											a.news__mask(href='#') посмотреть фото
													+icon('loupe','svg-loupe-dims')
											.news__desc
												.news__author
													img.news__author__img(src='./assets/img/users/us1.jpg')
													a.news__author__mask(href='./user.html') о пользователе
														+icon('more','svg-more-dims')
														
												.other
													.news__img__name Путешествие на лодке по озеру
													+comments_likes(9,25)
											.news__album
												a.news__album__name(href='#') Прогулки по воде
												+icon('album','svg-album-dims')

									li.news__item
										.news__block
											img.news__img(src='./assets/img/photos/ph2.jpg')
											a.news__mask(href='#') посмотреть фото
													+icon('loupe','svg-loupe-dims')
											.news__desc
												.news__author
													img.news__author__img(src='./assets/img/users/us2.jpg')
													a.news__author__mask(href='./user.html') о пользователе
														+icon('more','svg-more-dims')

												.other
													.news__img__name Отдых в палатке
													+comments_likes(9,25)
											.news__album
												a.news__album__name(href='#')  Палаточный лагерь
												+icon('album','svg-album-dims')

									li.news__item
										.news__block
											img.news__img(src='./assets/img/photos/ph3.jpg')
											a.news__mask(href='#') посмотреть фото
													+icon('loupe','svg-loupe-dims')
											.news__desc
												.news__author
													img.news__author__img(src='./assets/img/users/us4.jpg')
													a.news__author__mask(href='./user.html') о пользователе
														+icon('more','svg-more-dims')

												.other
													.news__img__name Любимые лошадки
													+comments_likes(9,25)
											.news__album
												a.news__album__name(href='#')  Животные
												+icon('album','svg-album-dims')

									li.news__item
										.news__block 
											img.news__img(src='./assets/img/photos/ph4.jpg')
											a.news__mask(href='#') посмотреть фото
													+icon('loupe','svg-loupe-dims')
											.news__desc
												.news__author
													img.news__author__img(src='./assets/img/users/us5.jpg')
													a.news__author__mask(href='./user.html') о пользователе
														+icon('more','svg-more-dims')

												.other
													.news__img__name Мечтательный взгляд вдаль пове...
													+comments_likes(9,25)
											.news__album
												a.news__album__name(href='#') Пустыня
												+icon('album','svg-album-dims')

									li.news__item
										.news__block
											img.news__img(src='./assets/img/photos/ph5.jpg')
											a.news__mask(href='#') посмотреть фото
													+icon('loupe','svg-loupe-dims')
											.news__desc
												.news__author
													img.news__author__img(src='./assets/img/users/us6.jpg')
													a.news__author__mask(href='./user.html') о пользователе
														+icon('more','svg-more-dims')

												.other
													.news__img__name Я лежу в гамаке, как это прекрасно
													+comments_likes(9,25)
											.news__album
												a.news__album__name(href='#') Отдых
												+icon('album','svg-album-dims')

									li.news__item
										.news__block
											img.news__img(src='./assets/img/photos/ph6.jpg')
											a.news__mask(href='#') посмотреть фото
													+icon('loupe','svg-loupe-dims')
											.news__desc
												.news__author
													img.news__author__img(src='./assets/img/users/us7.jpg')
													a.news__author__mask(href='./user.html') о пользователе
														+icon('more','svg-more-dims')

												.other
													.news__img__name Велопутешествие
													+comments_likes(9,25)
											.news__album
												a.news__album__name(href='#') Дорога
												+icon('album','svg-album-dims')
		
		.container										
			include common/_footer
include common/_scripts

