@import 'common/fonts'; 
@import 'common/paralax';
@import 'common/login';
@import 'common/main';
@import 'common/slider';
@import 'common/edit_header';
@import 'common/album';



html{
	font-size: 16px;
	font-family: 'proxima_nova_ltlight',arial,sans-serif;
}
html,body{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	
	min-width: 320px;
}


ul {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

input {
	outline: none;
	border: none;
}

 *,*:before,*:after {
 	box-sizing: inherit;
 }
button {
	padding: 10px 20px;
	border-radius: 30px;
	font-family: 'pantonbold';
	font-size: 0.875rem;
	color: #28bbf0;
	outline: none;
		cursor: pointer;
		box-shadow: none;
		border: 2px solid #28bbf0;
		background-color: #fff;
}



 .section_title {
 	font-size: 2.625rem;
 	font-family: 'pantonbold';
 	color: #323232;
 }
 .social__link {
 	font-size: 0;

 }
 .social__block {
 	display: flex;
 	justify-content: flex-start;
	
 }
 .social__item {
 	margin-right: 10px;
 	align-self: flex-start;
 }

