.add_photos.close
	.overlay
	form.modal__form#add_photo(name='add_photo_form' enctype='multipart/form-data')
				
				.add_album__caption
					h2.section_title Добавить фотографии
					a.close(href='#'): +icon('close','svg-close-dims')
			
				.add_album__inputs
					
					.add_album__desc
						span.add_album__span Название
						.add_photos__album_name Как я провел лето
					
					#drop-files.add_photos__block(ondragover="return false")
						.add_photos__wrap
							+icon('cam','svg-cam-dims')
							span.add_photo__span Перетащите фото сюда или  
								label.add_photo__label выберите файл
									input.add_album__addFile#uploadbtn(name='add_photo' type='file' multiple  hidden)
						
									//отображаем список загруженных фото
						ul#dropped-files.add_photos__list
								li.add_photos__item
									.add_photos__img_wrap
										.icon_wrap: +icon('close','svg-close-dims')
										img.add_photos__img(src='./assets/img/photos/ph2.jpg')
								li.add_photos__item
									.add_photos__img_wrap
										.icon_wrap: +icon('close','svg-close-dims')
										img.add_photos__img(src='./assets/img/photos/ph2.jpg')
					
					
									//если фото большие, то попадают в этот список 
					.error_size.close
						p.error_size__text Следующие файлы не будут загружены 
							span (размер более 2 МБ)
						
						ul.add_photos__list
								li.add_photos__item
									.add_photos__img_wrap
										.icon_wrap: +icon('close','svg-close-dims')
										img.add_photos__img(src='./assets/img/photos/ph2.jpg')


								//если неверный формат, сообщение об ошибке
					.error_format.close Выбран неверный формат изображения. Попробуйте снова.

				.add_album__btn
					#upload-button.add_album__btn__block
						button.edit__btn#add__btn__save.upload(type='submit') Сохранить
						button.edit__btn#close__adding_photo(type='reset') Отменить
				
//todo скрипты для работы загрузки
script(type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js")
script(src="javascript.js")
