doctype html
html(lang='ru-RU')
  include ./_head
  body
    <!--[if lt IE 10]>
    <p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите его</a></p>
    <![endif]-->

    