.edit.close
	.overlay.overlay_w
	.edit__profile__container
					form.edit__profile#edit__header_form(enctype="multipart/form-data", name="edit__profile")
							.edit__header
								.edit__user
									.edit__user__avatar
										label.user__avatar__label
											input.user__avatar__input#header__user_ava(type='file', name="edit__profile_inp" hidden)
											.user__avatar__mask
												+icon('cam','svg-cam-dims')
												span Изменить фото

									.edit__user__info
										input.edit__user__input#header__user_name(type='text' value='Антон Черепов', name="edit__profile_inp")
										textarea.edit__user__textarea#user__header_description(name="edit__profile_inp") Я веб разработчик. Мне 24 года. Люблю путешествия, кодинг, фриланс и активный отдых.
										
								
								.edit__background__block
									label.edit__background__label
										input.edit__background__input#header__user_back(type='file', name="edit__profile_inp" hidden)
										span Изменить фон
										+icon('cam','svg-cam-dims')

							.edit__btn_block
								button.edit__btn(type='reset') Отменить
								button.edit__btn#edit__header_save(type='submit') Сохранить

					.edit__socials
							include ./socials_e
			

							

