.edit_photo.close
	.overlay
	form.modal__form#edit_photo(name='edit_photo' enctype='multipart/form-data')
				
				.add_album__caption
					h2.section_title Редактировать фотографию
					a.close(href='#'): +icon('close','svg-close-dims')
			
				.add_album__inputs
					
					.add_album__desc
						span.add_album__span Название
						input.add_album__input#edit_name_photo(name='edit_name_photo' type='text' placeholder='Домик в лесу')
					
					.add_album__desc
						span.add_album__span Описание
						textarea.add_album__textarea#addAlbumDesc(name='addAlbumDesc') Описание фотографии может быть с #хештегами. Чтобы было красиво описание должно быть на несколько строк. Убедитесь сами!
														
				.add_album__btn
					.add_album__btn__block
						button.edit__btn#edit__ph_save(type='submit') Сохранить
						button.edit__btn(type='reset') Отменить

					.remove_btn
						button.edit__btn#add__btn__remove(type='button') Удалить
						+icon('delete','svg-delete-dims')


								//хотите удалить фото?
	.delete_note.modal__form
				.delete_note__text Вы хотите удалить это фото?
				.delete_note__btn
						button.del__btn#del_photo(type='button') Да
						button.del__btn(type='reset') Отменить
