footer.footer
	.footer__container
		.footer_text Перед вами сервис, который поможет вам организовать свои фотографии в альбомы и поделиться ими со всем миром!
		a.btn_up(href='#' alt='наверх') наверх
			+icon('top','svg-top-dims')
		.copyright 2016 | Создано командой профессионалов на продвинутом курсе по веб-разработке от LoftSchool