header.header
	.main__container
		.header__content
				.user_header
					.user_header__avatar
						img.user_header__avatar__img(src='./build/tmp/my-uploads/users/#{avatar}')
					.user_header__info
						.user_header__name #{name}
						.user_header__desc  #{info}
						.socials
							include ./_socials

				.header__btn__block
					a.header__btn.header__btn_l#edit__profile_header(href='#') Редактировать
						+icon('edit','svg-edit-dims')

					a.header__btn#header_exit(href='#') Выйти

						+icon('off','svg-off-dims')

	.search
		.main__container
			form.search__form
				input.search__input(name='search' type='text' placeholder='Исследовать мир')
				button.search__btn(name='search_btn' type='submit')
					+icon('search','svg-search-dims')