ul.social__block
	li.social__item
		a.social__link(href="https://vk.com") vk
			object.social_icon(type='image/svg+xml' data='./assets/img/icons/soc_vk.svg')
	li.social__item
		a.social__link(href="https://facebook.com") facebook
			object.social_icon(type='image/svg+xml' data='./assets/img/icons/soc_fb.svg')
	li.social__item
		a.social__link(href="https://twitter.com") twitter
			object.social_icon(type='image/svg+xml' data='./assets/img/icons/soc_twitter.svg')
	li.social__item
		a.social__link(href="https://plus.google.com") google+
			object.social_icon(type='image/svg+xml' data='./assets/img/icons/social_google.svg')
	li.social__item
		a.social__link(href="#") email
			object.social_icon(type='image/svg+xml' data='./assets/img/icons/soc_email.svg')
