ul.social__block
	li.social__item
		a.social__link(href="https://vk.com") vk
			+icon('soc_vk','svg-soc_vk-dims')
	li.social__item
		a.social__link(href="https://facebook.com") facebook
			+icon('soc_fb','svg-soc_fb-dims')
	li.social__item
		a.social__link(href="https://twitter.com") twitter
			+icon('soc_twitter','svg-soc_twitter-dims')
	li.social__item
		a.social__link(href="https://plus.google.com") google+
			+icon('social_google','svg-social_google-dims')
	li.social__item
		a.social__link(href="#") email
			+icon('soc_email','svg-soc_email-dims')
