ul.social__block
	li.social__item
		a.social__link(href="https://vk.com") vk
			.social_icon
	li.social__item
		a.social__link(href="https://facebook.com") facebook
			.social_icon
	li.social__item
		a.social__link(href="https://twitter.com") twitter
			.social_icon
	li.social__item
		a.social__link(href="https://plus.google.com") google+
			.social_icon
	li.social__item
		a.social__link(href="#") email
			.social_icon
