//===свойства для флипа================
.flip {
  flex-basis: 550px;
  flex-shrink: 2; 
  display: flex;
  position: relative;
  perspective: 1000px;    // задаем перспективу
}

//  при добавлении класса разворачиваем оба элемента
.flip.flipping .flip_back {   
  transform: rotateY(0deg);
  
}
.flip.flipping .flip_front {
  transform: rotateY(180deg);
}

.flip_front, 
.flip_back {
  transition: 0.9s;  // скорость анимации
  backface-visibility: hidden; // при развороте скрываем заднюю сторону
  transform-style: preserve-3d; //  создаем трехмерное пространство
 }
 
// разворачиеваем элементы при удалении класса
.flip_front {
  z-index: 2; 
  transform: rotateY(0deg);  
}

.flip_back { 
  transform: rotateY(-180deg);
 
}
