.svg-soc_vk-dims,
.svg-soc_fb-dims,
.svg-soc_twitter-dims,
.svg-social_google-dims,
.svg-soc_email-dims     {
	fill: rgba(#fff,.6);
	width: 20px;
	height: 20px;
	transition: 0.3;
	&:hover {
		fill: #fff;
	}

}

.svg-search-dims,
.svg-home-dims,
.svg-edit-dims,
.svg-off-dims  {
	fill: #848484;
	width: 20px;
	height: 20px;
}

.svg-envelope-dims,
.svg-password-dims,
.svg-name-dims 			{
	width: 15px;
	height: 15px;
	position: absolute;
	top: 30%;
	left: 7%;
	fill: #c9c9c9;
}

