.main_content  {
	flex: 1;
	display: flex;
	flex-direction: column;
	min-height: 100%;	
	width: 100%;
}

.main__container {
	width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-direction:column;
	align-item: center;
	position: relative;
}


//========footer====================
.footer {
	background-color: rgba(#000,.8);
	display: flex;
	margin-top: auto;
	color: #fff;
	padding: 15px 0 20px;
}

.footer__main,
.header__main {
	background-image: url(../img/photos/ph_hh.jpg);
	background-size: 100% auto;
	background-position: center center;
}

.footer__main_user,
.header__main_user {
	background-image: url(../img/photos/ph_h1.jpg);	
}

.footer__container {
	flex-shrink: 2;
	width: 1200px;
	margin: 0 auto;
	display: flex;
	
}

.footer_text {
	flex: 2;
}

.btn_up {
	flex: 1;
	font-size: 0;
	text-align: center;

}

.copyright {
	flex: 2;
	color: rgba(#fff,.4);
	text-align: right;
}
//==========header================
.header {
	width: 100%;
	min-height: 240px;
	background-image: linear-gradient(to right,rgba(#000,.5),transparent);
	color: #fff;
	display: flex;
	flex-direction: column;
	align-item: center;
}

.header__content {
	display: flex;
	padding: 25px 0;
	margin: auto;
	flex: 1;
	width: 100%;
}

.user_header {
	display: flex;	
	flex: 1;
}

.user_header__info {
	margin: 25px
}

.user_header__info {
	width: 450px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;

}
.user_header__name {
	font-size: 1.3125rem;
	font-family: 'pantonbold';
	margin-bottom: 5px;
}

.user_header__desc {
	color: rgba(#fff,.8);
	margin-bottom: 25px;
}

.social__block{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-right: 10px;
}

.user_header__avatar {
	width: 125px;
	height: 125px;
	border-radius: 50%;
	overflow: hidden;
	margin: 30px 25px 25px 35px;
}

.user_header__avatar__img { 
	width: 100%;
	height: 100%;
	// width: 125px;
	// height: 125px;
}

.header__btn__block {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-item: flex-end;
	width: 150px;
}

.header__btn {
	font-size: 0.875rem;
	color: transparent;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #fff;
	position: relative;
	margin-bottom: 10px;
	margin-left: auto;
	transition: 0.3s;
	text-align: center;

		 .svg-off-dims,
		 .svg-edit-dims,
		 .svg-home-dims {
				position: absolute;
				top: 10px;
				left: 10px;
		 }		
}

.header__btn:hover,{			
	color: #fff;
	background-color: $colBlue;
	border-radius: 20px;
	font-family: 'pantonBold';
	padding: 10px 10px 10px 30px;
	font-size: 0.875rem;
	width: 95px;
		
				.svg-off-dims,
				.svg-home-dims,
				.svg-edit-dims {
		  			fill: #fff;
						left: 10px;
				}
}

.header__btn_l:hover {
 width: 150px;
}	


.search {
	height: 60px;
	background-color: rgba(#dbdbdc,.9);
	
		.main__container {
			height: 100%;
			align-items: flex-end;
		}
}

.search__form {
	width: 30%;
	height: 100%;
	display: flex;
	align-items: center;
	position: relative;
	margin-right: 20px;
}

.search__input {
	width: 100%;
	padding: 10px 10px 10px 50px;
	border-radius: 20px;	
	border: none;
}

.search__btn{
	position: absolute;
	top: 35%;
	left: 15px;
	font-size: 0;
	order: -1;
	z-index: 3;
	border: none;
	padding: 0;
	&:hover {
		background: none;
	}
}
//==========new world==========
.new_world {
	padding: 30px 0 60px;
	background-color: #fff;
	line-height: 1;
	flex:1;
}

.news__list {
	display: flex;
	flex-wrap: wrap;
	align-item: center;
}

.news__item {
	margin: 0 20px 20px 0;
}

.news__block {
	border: 1px solid #f1f1f1;
	flex-grow: 1;	
	width: 380px;
	border-radius: 5px;
	overflow: hidden;
	position: relative;
}

.news__img  {
	width: 100%;
	height: 100%;
	// width: 380px;
	// height: 250px;		
}

.news__mask {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 250px;
	font-size: 0;
	text-align: center;
	
	 &:hover {
	 	background-color: rgba(#000,.5);

		 	.svg-loupe-dims {
		 		fill: #fff;
		 	}
	 }
}

.news__desc {
	display: flex;
	flex-wrap: wrap;
	padding: 15px 20px;
}

.news__author {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 20px;
	position: relative;	
}

.news__author__img {
	display: block;
	width: 100%;
	height: 100%;
	 // width: 50px;	 
}

.news__author__mask{
	position: absolute;
	top:0;
	left: 0;
	right: 0;
	height: 100%;
	font-size: 0;
	text-align: center;
		
		&:hover {
			background-color: rgba(#000,.5);
			
				.svg-more-dims {
					fill: #fff;
				}
		}
}

.news__album {
	background-color: #f6f6f6;
	padding: 10px 20px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	color: rgba(#323232,.8);
	font-family: 'proxima_nova_ltsemibold';
}

.svg-album-dims {
	order: -1;
}

.news__more {
	margin: auto;
	font-family: 'pantonbold';
}

.news__img__name {
	margin-bottom: 15px;
}
.news__album__name{
	color: #323232;
}
//==========my albums===============
.my_albums {
	background-color: #f6f6f6;
	padding: 25px 0;
	flex: 1;
}

.my_albums__title {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.add__albums {
	align-self: flex-end;
	font-size: 0.875rem;
	color: transparent;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 1px solid #eee;
	background-color: #fff;
	position: relative;	
	transition: 0.3s;
	text-align: center;

		 .svg-add-dims {
				position: absolute;
				top: 10px;
				left: 10px;
		 }

			&:hover {
				color: #fff;
				background-color: $colBlue;
				border-radius: 20px;
				font-family: 'pantonBold';
				padding: 10px 10px 10px 30px;
				 width: 120px;
			
					.svg-add-dims {
			  			fill: #fff;
							left: 10px;
					}
		}
}

.albums__list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding-bottom: 20px;
}

.albums__item {
	margin: 0 15px 15px 0;
}

.albums__block {
	border: 1px solid #f1f1f1;
	width: 285px;
	border-radius: 5px;
	overflow: hidden;
	position: relative;
	background-color: #fff;
}

.albums__img__wrap {
	 width: 100%;
	 height: 285px;
	 overflow: hidden;
	 position: relative;
}

.albums__img {
	position: absolute;
	top: 0;
	left: -30%;
	display: block;
	
}

.comments__likes__block,
.comments, 
.like   							 {
	display: flex;
	flex-wrap: nowrap;
}

.comments {
	margin-right: 17px;
}

.albums__name {
	display: flex;
	padding: 10px 20px;
	justify-content: space-between;
}

.albums__edit {
	order: -1;
	font-size: 0;	
	
		.svg-edit-dims{
			fill: #d6d6d6;
			
				&:hover {
					fill:$colGray;
				}
		}
}

.albums__desc {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	z-index: 2;
	top: 0;
	left: 0;
	right: 0;
	height: 280px ;
	padding: 35px 20px;
	color: transparent;
		
		&:hover {
			background-color: rgba(#000,0.5);
			color: #fff;
		}
}

.albums__about {
	margin-bottom: 35px;	
}